---
import Layout from '../layouts/Layout.astro';
import ChargeSection from '../components/ChargeSection.astro';
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import CocktailCard from '../components/CocktailCard.astro';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
---

<Layout title="Que onda PA">
	<LandingHeader />
	
	<main>
		<div class="flex flex-col">
			<HeroSection />
			<ViewTransitions />
		</div>
		<div class="flex flex-col">
			<ChargeSection />
		</div>
		<div class="flex flex-col">
			<HeroSection />
		</div>
		<div class="flex flex-col">
			<CocktailCard />
		</div>
	</main>
</Layout>
